@import "styles/_variables.scss";
@import "styles/_sizes.scss";

.uploader__body {
  .upload__image_wrapper {
    width: 100%;
    height: auto;
    min-height: 300px;
    border: 2px dashed #ccc;
    padding: 10px;

    .upload_btn {
      display: block;
      width: 100%;
      height: 300px;
      position: relative;
      cursor: pointer;
      background-color: #fff;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .upload_btn_in_active {
      display: none;
    }
  }
}

.image_item {
  height: 290;
  width: 100%;
  display: flex;

  & img {
    max-height: 290px;
    max-width: 290px;
    width: auto;
    border-radius: 3px;
  }

  button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .remove_btn {
    color: $danger;
    border-color: $danger;
  }

  .update_btn {
    color: $success;
    border-color: $success;
  }
}

.error {
  font-size: 14px;
  color: $danger;
  margin: 0;
  padding-top: 5px;
}
