.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999999999;
  overflow-y: auto;

  .modal {
    margin-top: 30px;
    background: white;
    height: auto;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 50px;
    overflow-y: auto;
    position: absolute;
    top: 0;
  }
  .modal_body {
    padding-top: 10px;
  }
  .modal_header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
  }
}

.larg {
  width: 90%;
}
.md {
  width: 70%;
}
