@import "@style/_variables.scss";

.submenu {
  width: 200px;
  height: auto;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 99999999999;
  background: $white;
  box-shadow: $box-shadow;
  padding: 20px 10px;

  ul {
    li {
      height: 40px !important;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      a {
        cursor: pointer;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 2px;
        border-radius: 5px;
        color: $dark;
        svg {
          width: 20px;
          margin-right: 10px;
        }

        &:hover {
          background: $primary;

          svg,
          span {
            color: $white;
          }
        }
      }
    }
  }
}
