@import "@style/_variables.scss";
@import "@style/_sizes.scss";

@mixin center {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: auto;
  box-shadow: rgb(0 0 0 / 10%) 0px 7px 21px 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 999;

  .inner__header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    li.search__container {
      width: 100%;
      position: relative;
    }

    li {
      height: 60px;

      > div {
        @include center;
        height: 100%;
      }

      div.menu__container {
        height: 100%;

        > div {
          height: 100%;
          @include center;
        }

        > div.logo {
          @include center;
          width: 80px;

          svg {
            color: $primary;
            width: 35px;
            height: 35px;
          }
        }

        form {
          width: 100%;
          position: relative;
          display: flex;

          input {
            width: 100%;
            height: 40px;
            border-radius: 0 3px 3px 0;
            border: none;
            background-color: #eee;
            font-size: $md-size;
            padding: $s-10;
          }
          button {
            border: none;
            display: block;
            width: 40px;
            height: 40px;
            color: $dark;
            border: none;
            background-color: #eee;
            @include center;
            border-radius: 3px 0 0 3px;
          }
        }
      }
    }
  }

  li.auth__btns {
    display: none;
    > div {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }

  li.menu__btn {
    @include center;
    width: 70px;
    justify-content: flex-end;

    svg {
      color: $dark;
      cursor: pointer;
    }
    svg:hover {
      color: $primary;
    }
  }

  @media (min-width: 700px) {
    li.search__container {
      width: 50% !important;
    }
    li.auth__btns {
      display: block !important;
    }
    li.menu__btn {
      display: none !important;
    }
  }
}
