@import "@style/_variables.scss";

.avatar__container {
  display: flex;
  align-items: center;

  .avatar {
    border: 1px solid $light-dark;
    border-radius: 3px;
    padding: 2px;

    .avatar__img {
      width: 30px;
      height: 30px;
      border-radius: 50% !important;
    }
  }
  span {
    color: $dark;
    font-size: 13px;
  }
}
